header{
    height: 100%;
    font-size: 2em;
    color: #343a40;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.hd_wrap{
    width: 1728px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* main_header */
.hd_logo{
    margin-left: 0px;
    width: 80px;
    height: 100%;
}
/* border�뿉�꽌 蹂댁뿬吏� logo */
.border_hd_logo{
    width: auto;
    display: flex;
}
.border_logo_img{
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.border_hd_icon{
    width: 28px; height: 28px;
}

.hd_logo a{
    height: inherit;
    display: flex;
    align-items: center;
    color: #343a40;
}
.border_logo_txt{
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    font-family: "Recursive";
}
.hd_logo_txt{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    font-family: "Recursive";
}
.hd_btns{
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.search_btn:hover{
    background-color: rgba(229, 228, 228, 0.465);
}

.search_icon{
    font-size: 16px;
    color: #000;
}

.header_btn{
    height: 32px;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: inherit;
    word-break: keep-all;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid rgb(52, 58, 64);
    border-radius: 16px;
    background-color: #343a40;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}
.login_btn:hover{
    background-color: rgb(134, 142, 150);
}

.go_posting_btn{
    margin-right: 1em;
    color: rgb(52, 58, 64);
    background-color: #fff;
    transition: all 0.125s ease-in 0s;
}

.go_posting_btn:hover{
    background-color: rgb(52, 58, 64);
    color: #fff;
}
.user_nav_wrap{
    width: 60px; height: 40px;
    position: relative;
    cursor: pointer;
}

.user_nav_wrap button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_nav_wrap img{
    display: block;
    width: 40px; height: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: inherit;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 12px;
}

.user_nav_wrap i{
    font-size: 15px;
    margin-left: 4px;
    margin-right: -7px;
    color: rgb(134, 142, 150);
    box-sizing: inherit;
    transition: all 0.125s ease-in 0s;
}

.user_nav_wrap i:hover{
    color: rgb(52, 58, 64);
}

.user_nav{
    z-index: 5;
    position: absolute;
    top: 150%; right: 15%;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
    display: none;
}

.user_nav{
    width: 192px;
    align-self: center;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;
}

.user_nav li{
    padding: 12px 16px;
    border-bottom: 2px solid rgb(248, 249, 250);
}

.user_nav a{
    font-size: 16px;
}

.user_nav li:last-child{
    border-bottom: none;
}

.user_nav li:hover{
    background-color: rgb(248, 249, 250);
}

@media  screen and (max-width:1320px) {
    header{
        height: 100%;
        font-size: 2em;
        color: #343a40;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .hd_wrap{
        width: 1320px;
        height: 64px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}


