.bl_container{
    margin-left: auto;
    margin-right: auto;
    width: 768px; height: 100%;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bl_info_wrap{
    margin-top: 4em;
    width: 100%; height: 185px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.img_wrap{
    width: 10.5em; height: 10.5em;
}
.user_img{
    width: 100%; height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.user_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.3em;
}
.user_name{
    font-size: 2em;
    color: #212529;
    font-weight: 700;
}
.user_comment{
    margin-top: 0.5em;
    font-size: 1.5em;
    color: #495057;
}
.seper_line{
    margin-top: 0.5em; margin-bottom: 1em;
    width: 100%; height: 1px;
    background-color: #e9ecef;
}

.social_banner{
    width: 100%; height: 36px;
    display: flex;
}
.socails{
    display: flex;
}
.socails a{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 32px; height: 36px;
    margin-left: 16px;
    cursor: pointer;
}
.socails a:first-child{
    margin: 0;
}
.socails a i{
    font-size: 32px;
    color: rgb(173, 181, 189);
}
.socails a i:hover{
    color: #000;
}

.border_nav{
    display: flex;
    justify-content: center;
    height: 48px;
    margin: 72px 0;
}
.border_nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    font-size: 1.8em;
    font-weight: 700;
}
.list{
    color: rgb(32, 201, 151);
    border-bottom: 3px solid rgb(32, 201, 151);
}
.intro{
    color: #000;
    border-bottom: none;
}
.comment_empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 100%; height: 100%;
}

.comment_empty img{
    width: 320px; height: 320px;
    margin-bottom: 32px;
}
.empty_text{
    height: 43px;
    font-size: 32px;
    color: #868e96;
    margin-bottom: 32px;
    font-weight: 500;
}
.comment_write_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 18px;
    background-color: #12b886;
    font-size: 18px;
    color: white;
    font-weight: 900;
    border-radius: 4px;
    cursor: pointer;
}
.comment_write_btn:hover{
    background-color: #33cc9e;
}

.comment_write_hidden{
    width: 100%; height: 99px;
}
.comment_write_box{
    display: flex;
    justify-content: flex-end;
    width: 100%; height: 40px;
    margin-bottom: 24px;
}
.comment_save{
    font-size: 18px;
    padding: 0 18px;
    background-color: #12b886;
    border-radius: 4px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}
.comment_save:hover{
    background-color: #33cc9e;
}

.comment_write{
    width: 100%; height: 35px;
    border: none;
    font-size: 18px;
    font-weight: 100;
    padding: 4px;
    box-sizing: border-box;
}

.comment_write::placeholder{
    color: rgb(184, 184, 184);
}