.mp_container{
    width: 100%; height: 100%;
}
.mp_main{
    width: 768px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 0 16px 80px;
}
.mp_profile{
    display: flex;
    width: 768px; height: 220px;
}
/*  프로필 이미지 추가 제거 */
.mp_img{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 24px;
}
.my_img img {
    width: 128px; height: 128px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.mp_img button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px; width: 8.85em;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
.img_insert{
    background-color: #12b886;
    color: #ffffff;
    cursor: pointer;
}
.img_insert:hover{
    background-color: #36ca9e;
}
.img_delete{
    background-color: white;
    color: #12b886;
    margin-top: 8px;
    cursor: pointer;
}
.img_delete:hover{
    background-color: #baf8e5;
}
/* 이름 소개글 */
.top_info{
    height: 100%;
    padding-left: 24px;
    border-left: 1px solid #e9ecef;
}
.top_info h2{
    font-size: 36px;
}
.top_info p{
    font-size: 16px;
    margin: 4px 0 8px 0;
    color: #868e96;
}
.info_modify{
    width: auto; height: 24px;
    font-size: 16px;
    text-decoration: underline;
    color: #12b886;
    font-weight: 300;
    cursor: pointer;
}
.info_modify:hover{
    color: #6ce2bd;

}
/* 이름 소개글 수정 */
.top_info_creative{
    width: 100%;
    padding-left: 24px;
    border-left: 1px solid #e9ecef;
    display: none;
}
.top_info_creative input{
    border-radius: 3px;
    border: 1px solid #e9ecef;
    color: #495057  ;
}
.top_info_creative input:focus{
    border: 1px solid #000;
}
.info_name{
    box-sizing: border-box;
    padding: 8px;
    font-size: 24px;
    font-weight: 600;
    width: 100%; height: 50px;
}
.info_text{
    box-sizing: border-box;
    width: 100%; height: 40px;
    margin-top: 16px; 
    padding: 8px;
    font-size: 16px;
}
.info_save_box{
    display: flex;
    justify-content: end;
    margin-top: 24px;
    
}
.info_save{
    font-size: 16px;
    padding: 0 20px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    width: 72px; height: 32px;
    background-color: #12b886;
    cursor: pointer;
}
.info_save:hover{
    background-color: #36ca9e;
}
/* 메인 정보 수정 */
.middle_info{
    margin-top: 64px;
}
.mp_info{
    padding: 16px 0;
    border-bottom: 1px solid #e9ecef;
}
.mp_info:last-child{
    border-bottom: none;
}
.velog_title{
    display: flex;
}
.creative_info h3{
    display: flex;
    align-items: center;
    width: 152px; height: 27px;
    font-size: 20px;
    font-weight: 500;
}
.contents_box{
    flex-grow: 2;
}
.contents{
    font-size: 16px;
    color: #495057;
}
.info_modify_box{
    margin-left: 16px;
}

.title_box_hidden{
    display: none;
}
.title_creative_box{
    display: flex;  
}
.title_creative{
    border: 1px solid #e9ecef;
    border-radius: 3px;
    margin-right: 16px;
    padding: 8px;
    font-size: 16px;
    width: 31.87em; height: 1.35em;
}
.title_creative:focus{
    border: 1px solid#000;
}
.title_creative_box .info_save_box{
    margin-top: 0.35em;
}

.info_explanation{
    font-size: 15px;
    margin-top: 14px;
    color: #868e96;
    font-weight: 300;
}
.email_setting{
    display: flex;
    height: 56px;
}
/* 정보 추가 (소설 정보) */
.icon_box_block{
    width: 400px;
}
.icon{
    display: flex;
    width: 100%;
    margin-top: 16px;
    color: rgb(73, 80, 87);
}
.icon:first-child{
    margin-top: 0px;
}
.icon_box input{
    padding: 8px;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    width: 100%; height: 1.8em;
    font-size: 16px;
    font-weight: 300;
}
.icon_box input:focus{
    border: 1px solid #000;
}
.i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.icon_box i{
    width: 16px; height: 16px;
    margin-right: 8px;
    font-size: 15px;
}
/* 이메일 수신 스위치 */
.creative_info_comments{
    display: flex;
}
.creative_info_comments h3{
    width: 152px; height: 27px;
    font-size: 20px;
    font-weight: 500;
}
.info_switch{
    display: flex;
    width: 100%;
}
.info_switch:last-child{
    margin-top: 8px;
}
.info_switch > span{
    font-size: 16px;
    width: 224px; height: 24px;
    font-weight: 300;
}
.switch_off{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 46px; height: 24px;
    border-radius: 12px;
    padding: 2px;
    cursor: pointer;
    background-color: #e9ecef;
}
.circle{
    width: 20px; height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
}
/* 회원 탈퇴 */
.creative_info_out{
    display: flex;
}
.creative_info_out h3{
    width: 152px; height: 27px;
    font-size: 20px;
    font-weight: 500;
}
.info_out{
    width: 6.45em; height: 32px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #ff6b6b;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.info_out:hover{
    background-color: #ff8f8f;
}
