.container{
    height: 100%;
}
.su_warp{
    width: 768px;
    letter-spacing: 2px;
    margin: 8em auto;
}
/* welcome */
.su_warp h1{
    font-size: 65px;
}

/* 텍스트 */
.su_txt{
    font-size: 24px;
}
.ip_group{
    width: 100%; height: 100%;
    margin-top: 48px;
}

/* 회원가입 정보입력 */
.ip_block{
    width: 100%; height: 113px;
}
.su_info{
    font-weight: 700;
    font-size: 20px; margin-bottom: 16px;
}

/* input 이름 입력 */
.ip_name_box{
    border: none;
    border-bottom: 1px solid #8a8a8a;
    width: 268px; height: 47px;
}
.su_name{
    border: none;
    padding: 1px 2px;
    width: 265px; height: 36px;
    font-size: 25px;
}
.su_name::placeholder {
    color: rgb(197, 197, 197);
}

/* input 이메일 입력 */
.ip_email_box{
    display: flex;
    border: none;
    border-bottom: 1px solid #8a8a8a;
    width: 350px; height: 47px;
}
.su_email{
    border: none;
    padding: 1px 2px;
    width: 325px; height: 36px;
    font-size: 25px;
}

.su_email::placeholder {
    color: rgb(197, 197, 197);
}
.ip_email_box i {
    color: rgb(165, 165, 165);
    font-size: 20px;
}

/* input 아이디 입력 */
.ip_id_box{
    border: none;
    border-bottom: 1px solid #8a8a8a;
    width: 230px; height: 47px;
}
.su_id{
    border: none;
    padding: 1px 2px;
    width: 270px; height: 36px;
    font-size: 25px;
}
.su_id::placeholder {
    color: rgb(197, 197, 197);
}

/* input  소개 입력 */
.ip_comment_box{
    border: none;
    border-bottom: 1px solid #444;
    width: 400px; height: 47px;
}
.su_comment{
    border: none;
    padding: 1px 2px;
    width: 400px; height: 36px;
    font-size: 25px;
}
.su_comment::placeholder {
    color: rgb(197, 197, 197);
}

/* 회원가입 submit */
.su_group{
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
/* 에러 메세지 */
.msg{
    margin-bottom: 1.5em;
}
.errormsg{
    font-size: 18px;
    color: #ff6b6b;
    font-weight: 600;
}
/* 취소 다음 버튼 */
.su_button{
    display: flex;
}
.su_button button{
    font-size: 24px;
    width: 112px; height: 48px;
    border-radius: 24px;
    cursor: pointer;
}
.sign_cancel button{
    color: #444;
    font-weight: 700;
    background-color: #e9ecef;
}
.sign_cancel button:hover{
    background-color: rgb(241, 243, 245);
}
.sign_next button{
    color: white;
    font-weight: 700;
    margin-left: 16px;
    background-color: #12b886;
}
.sign_next button:hover{
    background-color: rgb(32, 201, 151);

}

