.si_container{
    width: 100%; height: 100%;
    z-index: 8;
    position: fixed;
    top: 0px; left: 0px;
}

.si_warp{
    z-index: 9;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(233, 233, 232, 0.8);
}

/* 로그인창 */
.si_box{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 606px; height: auto;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
}

.active{
    animation: open_si 0.4s ease-in-out;
}

@keyframes open_si{
    0%{
        opacity: 0;
        transform: translateY(400px) scale(0.75);
    }
    75%{
        opacity: 1;
        transform: translateY(-16px) scale(1);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.inactive{
    animation: close_si 0.4s ease-in-out ;
}

@keyframes close_si {
    0%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    25%{
        opacity: 1;
        transform: translateY(100px) scale(0.75);
    }
    100%{
        opacity: 0;
        transform: translateY(400px) scale(0);
    }
}

/* 왼쪽 area */
.si_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 168px; height: 432px;
    background-color: rgb(241, 243, 245);
}
.si_img img{
    margin: 0 auto;
    width: 170px; height: 170px;
}
.si_img span{
    color: rgb(73, 80, 87);
    font-weight: 700;
    font-size: 28px;
}

/* 오른쪽 area */
.si_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 24px;
    width: 342px; height: 432px;
}
/* 종료버튼 */
.si_close{
    width: 100%; height: 24px;
    margin-bottom: 36px;
    display: flex;
    justify-content: flex-end;
    color: rgb(134, 142, 150);
}

.si_close i{
    font-size: 1.5em;
    cursor: pointer;
}

/* 로그인 부분 */
.si_input{
    width: 100%; height: 100%;
}
.si_input h2{
    font-size: 22px;
    color: #343a40;
}
.si_input h4{
    font-size: 16px;
    height: 24px;
    color: rgb(134, 142, 150);
    margin: 16px 0;
}
.si_form{
    display: flex;
}

/* 로그인 input */
.email_ip{
    width: 246px; height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 226, 230);
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
}
.email_ip:focus{
    border: 2px solid black;
    border-radius: 2px;
}
.email_ip::placeholder{
    color: rgb(197, 197, 197);
}
/* 로그인 버튼 */
.si_button{
    font-size: 16px;
    border: none;
    color: white;
    background-color: rgb(18, 184, 134);
    width: 96px; height: 48px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
}
.si_button:hover{
    background-color: rgb(72, 208, 167);
}

/* 소셜 로그인 */
.social_login {
    height: 96px;
    margin-top: 40px;
}
.social_btns{
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
}
/* api의 로그인 button */
.btn{
    display: flex;
    align-items: center;
    height: 48px;
    cursor: pointer;
}
/* api 로그인의 이미지 */
.btn i{
    font-size: 47px;
}

/* 회원가입 부분 */
.si_su_info {
    align-self: flex-end;
}
.su_question{
    font-size: 16px;
    margin-right: 4px;
}
.su_link{
    font-weight: 700;
    cursor: pointer;
}
.su_link a{
    font-size: 16px;
    color: rgb(18, 184, 134);
}
.su_link a:hover{
    text-decoration: underline;
}

