.login_container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%; height: 100%;
}
.login_img{
    margin: 0 auto;
    width: 168px; height: 432px;
    background-color: rgb(241, 243, 245);
}
.login_box{
    
}