
.login_container{
    width: 100%; height: 745px;
}
.login_warp{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(233, 233, 232, 0.5);
}
/* 로그인창 */
.login_box{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 606px; height: 480px;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
}
/* 로그인창 왼쪽 이미지 */
.login_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 168px; height: 432px;
    background-color: rgb(241, 243, 245);
}
.login_img img{
    margin: 0 auto;
    width: 170px; height: 170px;
}
.login_img span{
    color: rgb(73, 80, 87);
    font-weight: 700;
    font-size: 28px;
}
/* 로그인창 오른쪽input */
.login_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 24px;
    width: 342px; height: 432px;
}
.login_close i{
    display: flex;
    justify-content: flex-end;
    width: 100%; height: 24px;
    margin-bottom: 36px;
    font-size: 20px;
    color: rgb(134, 142, 150);
    cursor: pointer;}

/* 로그인 부분 */
.login_signin{
    width: 100%; height: 100%;
}
.login_signin h2{
    font-size: 22px;
    color: #343a40;
}
.login_signin h4{
    font-size: 16px;
    height: 24px;
    color: rgb(134, 142, 150);
    margin: 16px 0;
}
.login_form{
    display: flex;
}
.email_ip{
    width: 246px; height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 226, 230);
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
}
.email_ip:focus{
    border: 2px solid black;
    border-radius: 2px;
}
.email_ip::placeholder{
    color: rgb(197, 197, 197);
}
.login_button{
    font-size: 16px;
    border: none;
    color: white;
    background-color: rgb(18, 184, 134);
    width: 96px; height: 48px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
}
.login_button:hover{
    background-color: rgb(72, 208, 167);
}
/* API 네이버 구글 미정 */
.login_API {
    height: 96px;
    margin-top: 40px;
}
.APIs{
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
}
.API{
    display: flex;
    align-items: center;
    height: 48px;
    cursor: pointer;
}
.API i{
    font-size: 47px;
}

/* 회원가입 부분 */
.login_question{
    font-size: 16px;
    margin-right: 4px;
}
.login_signup {
    align-self: flex-end;
}
.signup_link{
    font-weight: 700;
    cursor: pointer;
}
.signup_link a{
    font-size: 16px;
    color: rgb(18, 184, 134);
}
.signup_link a:hover{
    text-decoration: underline;
}
