@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.write_wrap{
    display: flex;
    width: 100%; height: 100%;
}
.write_left{
    width: 100%; height: 100%;
    /* padding-bottom: 64px; */
}
.write_ip{
    box-sizing: border-box;
    width: 100%; height: 15.8em;
    padding: 32px 48px 0;
}
.write_title{
    width: 100%; height: 66px;
    font-size: 46px;
    font-weight: 700;
    border: none;
}
.write_title::placeholder{
    color: #a2aab1;
}
.seper_line{
    width: 64px; height: 6px;
    margin: 24px 0 16px;
    background-color: #495057;
}
.write_tag{
    display: flex;
}
.ip_tags{
    width: 9.92em; height: 1.6em;
    padding: 1px 2px;
    margin-bottom: 12px;
    border: none;
    font-size: 20px;
}
/* 데코바? */
.deco_bar{
    display: flex;
    flex-wrap: wrap;
    padding: 0 48px;
    margin-bottom: 16px;
    background-color: white;
}
.deco_bar button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px; height: 48px;
    font-size: 16px;
    color: #868e96;
    cursor: pointer;
}
.deco_bar button:hover{
    background-color: rgb(244, 249, 255);
}
.deco_bar i{
    font-size: 18px;
}
.seper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8px;
}
.line{
    width: 1px; height: 20px;
    background-color: #cde4da;

}
/* 글적기 */
.text_box{
    box-sizing: border-box;
    width: 100%; height: 35.5em;
    padding: 4px 0 5px;
}
.textarea{
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    padding: 0 48px;
    width: 100%; height: 100%;
    outline: none;
    resize: none;
}
.textarea::placeholder{
    font-style: italic;
    color: #a4a9a7;
}
/* 푸터 */
.write_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%; height: 5.34em;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
}
.exit_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 6.34em; height: 2.22em;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
}
.exit_btn:hover{
    background-color: rgb(236, 236, 236);

}
.exit_btn i {
    margin-right: 8px;
    font-size: 16px;
}
.submit_btns{
    width: 19.67em; height: 3.33em;
}
.submit_btns button{
    width: 112px; height: 40px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}
.temp_submit{
    color: #495057;
    background-color: #e9ecef;
}
.temp_submit:hover{
    background-color: #f2f4f7;
    
}
.on_submit{
    color: #fff;
    background-color: #12b886;
    margin-left: 9px;
}
.on_submit:hover{
    background-color: #54c9a6;

}
/* 프리뷰 */
.write_right{
    padding-left: 2.5px;
    width: 100%; height: 62em;
}
.preview{
    box-sizing: border-box;
    padding: 48px;
    width: 100%; height: 100%;
    border: none;
    background-color: rgb(249, 255, 249);
    resize: none;
    outline: none;
}

