#main{
    width: 100%;
    display: flex;
    justify-content: center;
}
#dtl_container{
    width: 768px;
}
#dtl_head{
    margin-top: 6.8em;
}
.dtl_title h1{
    font-size: 3em;
    margin-bottom: 1em;
}
.dtl_nav{
    display: flex;
    justify-content: space-between;
}
.dtl_info a{
    font-weight: 900;
    font-size: 16px;
}
.dtl_info a:hover{
    text-decoration: underline;
}
.dtl_info span{
    font-size: 16px;
}
.dtl_point{
    margin: 0px 2px;
}
.dtl_btn button{
    font-size: 16px;
    color: gray;
    cursor: pointer;
    opacity: 0.5;
}
.dtl_btn button:hover{
    opacity: 1;
}
.update_btn{
    margin: 0 8px;
}
.dtl_body{
    width: 100%;
    height: auto;
    margin: 6em auto 0;
}
.pre_txt{
    font-size: 18px;
    min-height: 380px;
}
#footer{
    margin-top: 5em;
    display: flex;
    padding-bottom: 3em;
    border-bottom: 1px solid #ccc;
}
#footer img{
    border-radius: 50%;
}
.user_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}
.dtl_writer{
    font-size: 24px;
    margin-bottom: 0.5em;
    font-weight: 900;
}
.dtl_writer:hover{
    text-decoration: underline;
}
.dtl_comment{
    font-size: 18px;
}

/* 좋아요 부분 */
.like_btn_block{
   position: fixed;
   display:flex;
   flex-direction: column;
   width: 64px; height: 100px;
   padding: 8px;
   box-sizing: border-box;
   border-radius: 32px;
   background-color: #f8f9fa;
   border: 1px solid rgb(241, 243, 245);
   left: 20%; top: 35%;
}
.like_btns{
   width: 48px; height: 48px;
   cursor: pointer;
}

.off_box{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%; height: 100%;
   background-color: white;
   border-radius: 24px;
   border: 1px solid rgb(173, 181, 189);
}
.like_off {
   font-size: 24px;
   color: rgb(134, 142, 150);
}

.on_box{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%; height: 100%;
   background-color: #20c997;
   border-radius: 24px;
   border: none;
}

.like_on{
   font-size: 24px;
   color: white;
}

.like_count{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   margin: 8px 0 16px;
}


















