.bl_container {
	margin-left: auto;
	margin-right: auto;
	width: 768px;
	height: 100%;
	padding-bottom: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.bl_info_wrap {
	margin-top: 4em;
	width: 100%;
	height: 185px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.img_wrap {
	width: 10.5em;
	height: 10.5em;
}

.user_img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	cursor: pointer;
}

.user_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1.3em;
}

.user_name {
	font-size: 2em;
	color: #212529;
	font-weight: 700;
}

.user_comment {
	font-size: 1.5em;
	margin-top: 0.5em;
	color: #495057;
}

.seper_line {
	margin-top: 0.5em;
	margin-bottom: 1em;
	width: 100%;
	height: 1px;
	background-color: #e9ecef;
}

.social_banner {
	width: 100%;
	height: 36px;
}

.socials {
	display: flex;
}

.socials a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 36px;
	margin-left: 16px;
	cursor: pointer;
}

.socials a:first-child {
	margin: 0;
}

.socials a i {
	font-size: 32px;
	color: rgb(173, 181, 189);
}

.socials a i:hover {
	color: #000;
}

.socials a span{
	display: none;
}
.emailText{
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto; height: 30px;
	background-color: #000;
	color: #fff;
	margin-left: 10px;
	border-radius: 5px;
	padding: 0 10px;
}

.border_nav {
	display: flex;
	justify-content: center;
	height: 48px;
	margin: 72px 0;
}

.border_nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 128px;
	font-size: 1.8em;
	font-weight: 700;
	cursor: pointer;
}

.list {
	color: rgb(32, 201, 151);
	border-bottom: 3px solid rgb(32, 201, 151);
}

.intro {
	color: #000;
	border-bottom: none;
}

.dtl_wrap {
	width: 100%;
	height: 100%;
}

.border_ip {
	outline: none;
	border: none;
	height: 16px;
	width: 154px;
	font-size: 15px;
}

.border_ip::placeholder {
	color: rgb(173, 181, 189)
}

.border_list {
	width: 100%;
	height: 100%;
	padding: 64px 0;
	border-bottom: 1px solid #e9ecef;
}

.border_list:last-child {
	padding-top: 0px;
	border-bottom: none;
}

.border_main_img {
	width: 100%;
	min-width: 768px;
	height: 33.5em;
}

.border_title {
	height: 1.5em;
	font-size: 2em;
	cursor: pointer;
	line-height: 1.5;
	letter-spacing: 0.1px;
	overflow-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.border_pre_content {
	margin: 0.8em 0 1em 0;
	width: 100%;
	height: 5em;
	font-size: 1.2em;
	line-height: 1.6;
	letter-spacing: 0.1px;
	overflow-wrap: break-word;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.border_keyword {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	height: auto;
}

.border_keyword a {
	height: 32px;
	line-height: 2;
	border-radius: 16px;
	font-size: 16px;
	margin-right: 14px;
	margin-bottom: 14px;
	padding: 0 16px;
	color: #0ca678;
	background-color: rgb(241, 243, 245);
}

.border_keyword a:hover {
	background-color: rgb(248, 248, 248);
}

.border_subinfo {
	height: 1.75em;
	margin-top: 1.35em;
	color: #868e96;
}

.create_date {
	margin-right: 0.2em;
}

.count_reply {
	margin-left: 0.2em;
}

.content_comment_box{
	width: 100%; height: 100%;
}

.comment_empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 100%; height: 100%;
}

.comment_empty img{
    width: 320px; height: 320px;
    margin-bottom: 32px;
}
.empty_text{
    height: 43px;
    font-size: 32px;
    color: #868e96;
    margin-bottom: 32px;
    font-weight: 500;
}
.comment_write_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 18px;
    background-color: #12b886;
    font-size: 18px;
    color: white;
    font-weight: 900;
    border-radius: 4px;
    cursor: pointer;
}
.comment_write_btn:hover{
    background-color: #33cc9e;
}

.comment_write_hidden{
    width: 100%; height: 100%;
}
.comment_write_box{
    display: flex;
    justify-content: flex-end;
    width: 100%; height: 40px;
    margin-bottom: 24px;
}
.comment_save{
    font-size: 18px;
    padding: 0 18px;
    background-color: #12b886;
    border-radius: 4px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}
.comment_save:hover{
    background-color: #33cc9e;
}

.comment_write{
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 100;
    padding: 4px;
    box-sizing: border-box;
    flex-wrap: wrap;
    resize: none;
    outline: none;
}

.comment_write::placeholder{
    color: rgb(184, 184, 184);
}