/* terms & privacy */
#content{
    margin: 0 auto;
    display: block;
    width: 768px;
    margin-bottom: 20em;
}

.choose{
    display: flex;
    justify-content: center;
}
.ch_menu{
    display: flex;
}
.ch_menu a{
    display: block;
    width: 160px;
    text-align: center;
    font-size: 18px;
    padding: 0.6em 2em;
}
.terms{
    color: rgb(32, 201, 151);
    border-bottom: 3px solid rgb(32, 201, 151);
}
.privacy{
    color: #acb1b9;
    border-bottom: none;
}

/* terms */
/* main title */
#content h1{
    margin: 1em 0;
    font-size: 40px;
}

/* small title */
#content h2{
    font-size: 32px;
    margin: 1em 0 0.6em 0;
    font-weight: 600;
}

#content ol li{
    margin-left: 2em;
    font-size: 18px;
    letter-spacing: 0.7px;
    font-weight: 300;
    line-height: 1.7em;
}

#content p{
    font-size: 18px;
    margin: 1em 0;
    font-weight: 300;
    line-height: 1.5em;
}